body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 1600px 1500px;
}



h2 {
  color: red;
  text-align: center;
  border: 5px solid purple;
  cursor: pointer;
}

p{
  color: blue;
}

li{
  list-style: none;
  display: inline-block;
}
.webtext{
  border: 5px dashed green;
}
.active {
  color:red;
}
#div1{
  background: rgb(0, 0, 255, 0.2);
}

.btn-danger:hover {
  background-color: salmon;
}